<app-header [nombreUsuario]="'administrador'"></app-header>

<div class="admin-nav-info">
  <p class="panel-subtitle">Panel de administrador</p>
  <a href="#" class="back-link">Regresar al perfil</a>
</div>

<div class="admin-container">
  
  <section class="admin-section">
    <h2 class="title-centered">Gestión de usuarios</h2>
    <div class="components-wrapper">
      <app-admin-usuarios></app-admin-usuarios>
    </div>
  </section>

  <section class="admin-section">
    <h2 class="title-centered">Gestión de reservas</h2>
    <div class="components-wrapper">
      <app-admin-reservas></app-admin-reservas>
    </div>
  </section>

  <section class="admin-section">
    <h2 class="title-centered">Gestión de pedidos</h2>
    <div class="components-wrapper">
      <app-admin-pedidos></app-admin-pedidos>
    </div>
  </section>

  <section class="admin-section">
    <div class="header-menu-section">
      <h2>Gestión del Menú</h2>
      <button class="btn-green-add">+ Nuevo Platillo</button>
    </div>
    <div class="components-wrapper">
      <app-admin-menu></app-admin-menu>
    </div>
  </section>

</div>