<app-header [nombreUsuario]="usuarioEdicion.nombres"></app-header>

<div class="nav-secondary">
  <a routerLink="/perfil" class="back-link">Regresar al perfil</a>
</div>

<div class="main-container">
  <h2 class="page-title">Configuración de Perfil</h2>
  
  <div class="edit-card">
    <form (ngSubmit)="guardarCambios()" class="edit-form">
      <div class="form-group">
        <label>Nombre(s)</label>
        <input type="text" name="nombres" required>
      </div>

      <div class="form-group">
        <label>Apellidos</label>
        <input type="text" name="apellidos" required>
      </div>

      <div class="form-group">
        <label>Dirección</label>
        <input type="text" name="direccion" required>
      </div>

      <div class="form-group">
        <label>Correo electrónico</label>
        <input type="email" name="correo" required>
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password"  name="password" placeholder="********" required>
      </div>

      <button type="submit" class="btn-save">Guardar información</button>
    </form>
  </div>
</div>
